In [144]:
import pandas as pd
import numpy as np
import scipy.stats as scipy

In [52]:
df = pd.read_csv("./Data/E0_13.csv")

In [53]:
df.columns

Index([u'Div', u'Date', u'HomeTeam', u'AwayTeam', u'FTHG', u'FTAG', u'FTR',
       u'HTHG', u'HTAG', u'HTR', u'Referee', u'HS', u'AS', u'HST', u'AST',
       u'HF', u'AF', u'HC', u'AC', u'HY', u'AY', u'HR', u'AR', u'B365H',
       u'B365D', u'B365A', u'BWH', u'BWD', u'BWA', u'IWH', u'IWD', u'IWA',
       u'LBH', u'LBD', u'LBA', u'PSH', u'PSD', u'PSA', u'WHH', u'WHD', u'WHA',
       u'SJH', u'SJD', u'SJA', u'VCH', u'VCD', u'VCA', u'Bb1X2', u'BbMxH',
       u'BbAvH', u'BbMxD', u'BbAvD', u'BbMxA', u'BbAvA', u'BbOU', u'BbMx>2.5',
       u'BbAv>2.5', u'BbMx<2.5', u'BbAv<2.5', u'BbAH', u'BbAHh', u'BbMxAHH',
       u'BbAvAHH', u'BbMxAHA', u'BbAvAHA', u'PSCH', u'PSCD', u'PSCA'],
      dtype='object')

In [54]:
res_15 = df.ix[:,:23]
res_15 = res_15.drop(['Div','Date','Referee'],axis=1)

bet_15 = df.ix[:,23:]

In [69]:
res_15.head()

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,Arsenal,Aston Villa,1,3,A,1,1,D,16,9,4,4,15,18,4,3,4,5,1,0
1,Liverpool,Stoke,1,0,H,1,0,H,26,10,11,4,11,11,12,6,1,1,0,0
2,Norwich,Everton,2,2,D,0,0,D,8,19,2,6,13,10,6,8,2,0,0,0
3,Sunderland,Fulham,0,1,A,0,0,D,20,5,3,1,14,14,6,1,0,3,0,0
4,Swansea,Man United,1,4,A,0,2,A,17,15,6,7,13,10,7,4,1,3,0,0

In [125]:
#Team, Home Goals Score, Away Goals Score, Attack Strength, Home Goals Conceded, Away Goals Conceded, Defensive Strength
table_15 = pd.DataFrame(columns=('Team','HGS','AGS','HAS','AAS','HGC','AGC','HDS','ADS'))

In [126]:
avg_home_scored_15 = res_15.FTHG.sum() / 380.0
avg_away_scored_15 = res_15.FTAG.sum() / 380.0
avg_home_conceded_15 = avg_away_scored_15
avg_away_conceded_15 = avg_home_scored_15
print "Average number of goals at home",avg_home_scored_15
print "Average number of goals away", avg_away_scored_15
print "Average number of goals conceded at home",avg_away_goals_15
print "Average number of goals conceded away",avg_home_goals_15

Average number of goals at home 1.57368421053
Average number of goals away 1.19473684211
Average number of goals conceded at home 1.19473684211
Average number of goals conceded away 1.57368421053

In [127]:
res_home = res_15.groupby('HomeTeam')
res_away = res_15.groupby('AwayTeam')

In [128]:
list(res_home)[0]

('Arsenal',
     HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  HS  AS  HST  \
 0    Arsenal     Aston Villa     1     3   A     1     1   D  16   9    4
 27   Arsenal       Tottenham     1     0   H     1     0   H  12  14    5
 46   Arsenal           Stoke     3     1   H     2     1   H  16   9    8
 70   Arsenal         Norwich     4     1   H     1     0   H  20  12   11
 90   Arsenal       Liverpool     2     0   H     1     0   H  12  12    7
 110  Arsenal     Southampton     2     0   H     1     0   H   9  10    4
 131  Arsenal            Hull     2     0   H     1     0   H  20   7    7
 147  Arsenal         Everton     1     1   D     0     0   D  11  12    5
 169  Arsenal         Chelsea     0     0   D     0     0   D   7  13    2
 190  Arsenal         Cardiff     2     0   H     0     0   D  28   8    6
 210  Arsenal          Fulham     2     0   H     0     0   D  22   8    8
 237  Arsenal  Crystal Palace     2     0   H     0     0   D  11  10    6
 254  Arsenal      Man United     0     0   D     0     0   D  17   6    5
 258  Arsenal      Sunderland     4     1   H     3     0   H  12   7    9
 301  Arsenal         Swansea     2     2   D     0     1   A  13   8    4
 306  Arsenal        Man City     1     1   D     0     1   A  10  15    3
 334  Arsenal        West Ham     3     1   H     1     1   D  14  12    8
 356  Arsenal       Newcastle     3     0   H     2     0   H  20   8    8
 364  Arsenal       West Brom     1     0   H     1     0   H  15  11    4

      AST  HF  AF  HC  AC  HY  AY  HR  AR
 0      4  15  18   4   3   4   5   1   0
 27     4  15  14   3   6   2   2   0   0
 46     3   8  15   6   7   0   2   0   0
 70     6   8   7  10   1   0   0   0   0
 90     4  11   7   3   5   2   1   0   0
 110    4  10  14   5   6   0   3   0   0
 131    2   9   6  11   1   0   0   0   0
 147    4  13  11   3   2   0   4   0   0
 169    4   7  11   8   6   2   1   0   0
 190    2   6  11  12   2   1   2   0   0
 210    2   5   7   4   4   0   0   0   0
 237    2   9  14   6   5   1   2   0   0
 254    2  10  14   5   5   1   2   0   0
 258    3  10  11   7   3   0   1   0   0
 301    2  11  12   7   0   0   1   0   0
 306    4   8  11   6   6   1   4   0   0
 334    2  14  12   4   3   2   2   0   0
 356    3   9   8  14   0   3   2   0   0
 364    1   9   6   9  10   2   2   0   0  )

In [160]:
table_15.Team = res_home.HomeTeam.all().values
table_15.HGS = res_home.FTHG.sum().values
table_15.HGC = res_home.FTAG.sum().values
table_15.AGS = res_away.FTAG.sum().values
table_15.AGC = res_away.FTHG.sum().values
table_15.head()

             Team  HGS  AGS       HAS       AAS  HGC  AGC       HDS       ADS
0         Arsenal   36   32  1.204013  1.409692   11   30  0.484581  1.003344
1     Aston Villa   22   17  0.735786  0.748899   29   32  1.277533  1.070234
2         Cardiff   20   12  0.668896  0.528634   35   39  1.541850  1.304348
3         Chelsea   43   28  1.438127  1.233480   11   16  0.484581  0.535117
4  Crystal Palace   18   15  0.602007  0.660793   23   25  1.013216  0.836120

In [171]:
table_15.HAS = (table_15.HGS / 19.0) / avg_home_scored_15
table_15.AAS = (table_15.AGS / 19.0) / avg_away_scored_15
table_15.HDS = (table_15.HGC / 19.0) / avg_home_conceded_15
table_15.ADS = (table_15.AGC / 19.0) / avg_away_conceded_15
table_15

              Team  HGS  AGS       HAS       AAS  HGC  AGC       HDS       ADS
0          Arsenal   36   32  1.204013  1.409692   11   30  0.484581  1.003344
1      Aston Villa   22   17  0.735786  0.748899   29   32  1.277533  1.070234
2          Cardiff   20   12  0.668896  0.528634   35   39  1.541850  1.304348
3          Chelsea   43   28  1.438127  1.233480   11   16  0.484581  0.535117
4   Crystal Palace   18   15  0.602007  0.660793   23   25  1.013216  0.836120
5          Everton   38   23  1.270903  1.013216   19   20  0.837004  0.668896
6           Fulham   24   16  0.802676  0.704846   38   47  1.674009  1.571906
7             Hull   20   18  0.668896  0.792952   21   32  0.925110  1.070234
8        Liverpool   53   48  1.772575  2.114537   18   32  0.792952  1.070234
9         Man City   63   39  2.107023  1.718062   13   24  0.572687  0.802676
10      Man United   29   35  0.969900  1.541850   21   22  0.925110  0.735786
11       Newcastle   23   20  0.769231  0.881057   28   31  1.233480  1.036789
12         Norwich   17   11  0.568562  0.484581   18   44  0.792952  1.471572
13     Southampton   32   22  1.070234  0.969163   23   23  1.013216  0.769231
14           Stoke   27   18  0.903010  0.792952   17   35  0.748899  1.170569
15      Sunderland   21   20  0.702341  0.881057   27   33  1.189427  1.103679
16         Swansea   33   21  1.103679  0.925110   26   28  1.145374  0.936455
17       Tottenham   30   25  1.003344  1.101322   23   28  1.013216  0.936455
18       West Brom   24   19  0.802676  0.837004   27   32  1.189427  1.070234
19        West Ham   25   15  0.836120  0.660793   26   25  1.145374  0.836120

In [163]:
def exp_goals(mean):
    max_pmf = 0;
    for i in xrange(7):
        pmf = scipy.distributions.poisson.pmf(i,mean) * 100 
        if pmf > max_pmf:
            max_pmf = pmf
            goals = i
    return goals

In [142]:
test_15 = res_15.ix[:,0:5]
test_15.head()

     HomeTeam     AwayTeam  FTHG  FTAG FTR
0     Arsenal  Aston Villa     1     3   A
1   Liverpool        Stoke     1     0   H
2     Norwich      Everton     2     2   D
3  Sunderland       Fulham     0     1   A
4     Swansea   Man United     1     4   A

In [190]:
table_15[table_15['Team'] == 'Arsenal']
test_15['ER'] = ''

In [231]:
results = []
for index, row in test_15.iterrows():
    home_team = table_15[table_15['Team'] == row['HomeTeam']]
    away_team = table_15[table_15['Team'] == row['AwayTeam']]
    #print "Home : ", home_team.HAS.values, "Away: ", away_team.AAS.values
    EH = home_team.HAS.values * away_team.ADS.values * avg_home_scored_15
    EA = home_team.HDS.values * away_team.AAS.values * avg_home_conceded_15
    #print EH[0], EA[0]
    if EH[0] > EA[0]:
        results.append('H')
    else:
        results.append('A')

In [237]:
test_15['ER'] = results

In [239]:
from sklearn.metrics import accuracy_score

In [240]:
accuracy_score(test_15['FTR'],test_15['ER'])

0.60789473684210527

In [159]:
print exp_goals(1.022)

1