In [144]:
import pandas as pd
import numpy as np
import scipy.stats as scipy

In [242]:
df = pd.read_csv("./Data/E0_13.csv")
df_14 = pd.read_csv("./Data/E0_14.csv")

In [244]:
df.columns

Index([u'Div', u'Date', u'HomeTeam', u'AwayTeam', u'FTHG', u'FTAG', u'FTR',
       u'HTHG', u'HTAG', u'HTR', u'Referee', u'HS', u'AS', u'HST', u'AST',
       u'HF', u'AF', u'HC', u'AC', u'HY', u'AY', u'HR', u'AR', u'B365H',
       u'B365D', u'B365A', u'BWH', u'BWD', u'BWA', u'IWH', u'IWD', u'IWA',
       u'LBH', u'LBD', u'LBA', u'PSH', u'PSD', u'PSA', u'WHH', u'WHD', u'WHA',
       u'SJH', u'SJD', u'SJA', u'VCH', u'VCD', u'VCA', u'Bb1X2', u'BbMxH',
       u'BbAvH', u'BbMxD', u'BbAvD', u'BbMxA', u'BbAvA', u'BbOU', u'BbMx>2.5',
       u'BbAv>2.5', u'BbMx<2.5', u'BbAv<2.5', u'BbAH', u'BbAHh', u'BbMxAHH',
       u'BbAvAHH', u'BbMxAHA', u'BbAvAHA', u'PSCH', u'PSCD', u'PSCA'],
      dtype='object')

In [265]:
res_13 = df.ix[:,:23]
res_13 = res_13.drop(['Div','Date','Referee'],axis=1)
res_14 = df_14.ix[:,:23]
res_14 = res_14.drop(['Div','Date','Referee'],axis=1)

bet_13 = df.ix[:,23:]

In [246]:
res_13.head()

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,Arsenal,Aston Villa,1,3,A,1,1,D,16,9,4,4,15,18,4,3,4,5,1,0
1,Liverpool,Stoke,1,0,H,1,0,H,26,10,11,4,11,11,12,6,1,1,0,0
2,Norwich,Everton,2,2,D,0,0,D,8,19,2,6,13,10,6,8,2,0,0,0
3,Sunderland,Fulham,0,1,A,0,0,D,20,5,3,1,14,14,6,1,0,3,0,0
4,Swansea,Man United,1,4,A,0,2,A,17,15,6,7,13,10,7,4,1,3,0,0

In [247]:
#Team, Home Goals Score, Away Goals Score, Attack Strength, Home Goals Conceded, Away Goals Conceded, Defensive Strength
table_13 = pd.DataFrame(columns=('Team','HGS','AGS','HAS','AAS','HGC','AGC','HDS','ADS'))

In [250]:
avg_home_scored_13 = res_13.FTHG.sum() / 380.0
avg_away_scored_13 = res_13.FTAG.sum() / 380.0
avg_home_conceded_13 = avg_away_scored_13
avg_away_conceded_13 = avg_home_scored_13
print "Average number of goals at home",avg_home_scored_13
print "Average number of goals away", avg_away_scored_13
print "Average number of goals conceded at home",avg_away_conceded_13
print "Average number of goals conceded away",avg_home_conceded_13

Average number of goals at home 1.57368421053
Average number of goals away 1.19473684211
Average number of goals conceded at home 1.57368421053
Average number of goals conceded away 1.19473684211

In [251]:
res_home = res_13.groupby('HomeTeam')
res_away = res_13.groupby('AwayTeam')

In [252]:
list(res_home)[0]

('Arsenal',
     HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  HS  AS  HST  \
 0    Arsenal     Aston Villa     1     3   A     1     1   D  16   9    4
 27   Arsenal       Tottenham     1     0   H     1     0   H  12  14    5
 46   Arsenal           Stoke     3     1   H     2     1   H  16   9    8
 70   Arsenal         Norwich     4     1   H     1     0   H  20  12   11
 90   Arsenal       Liverpool     2     0   H     1     0   H  12  12    7
 110  Arsenal     Southampton     2     0   H     1     0   H   9  10    4
 131  Arsenal            Hull     2     0   H     1     0   H  20   7    7
 147  Arsenal         Everton     1     1   D     0     0   D  11  12    5
 169  Arsenal         Chelsea     0     0   D     0     0   D   7  13    2
 190  Arsenal         Cardiff     2     0   H     0     0   D  28   8    6
 210  Arsenal          Fulham     2     0   H     0     0   D  22   8    8
 237  Arsenal  Crystal Palace     2     0   H     0     0   D  11  10    6
 254  Arsenal      Man United     0     0   D     0     0   D  17   6    5
 258  Arsenal      Sunderland     4     1   H     3     0   H  12   7    9
 301  Arsenal         Swansea     2     2   D     0     1   A  13   8    4
 306  Arsenal        Man City     1     1   D     0     1   A  10  15    3
 334  Arsenal        West Ham     3     1   H     1     1   D  14  12    8
 356  Arsenal       Newcastle     3     0   H     2     0   H  20   8    8
 364  Arsenal       West Brom     1     0   H     1     0   H  15  11    4

      AST  HF  AF  HC  AC  HY  AY  HR  AR
 0      4  15  18   4   3   4   5   1   0
 27     4  15  14   3   6   2   2   0   0
 46     3   8  15   6   7   0   2   0   0
 70     6   8   7  10   1   0   0   0   0
 90     4  11   7   3   5   2   1   0   0
 110    4  10  14   5   6   0   3   0   0
 131    2   9   6  11   1   0   0   0   0
 147    4  13  11   3   2   0   4   0   0
 169    4   7  11   8   6   2   1   0   0
 190    2   6  11  12   2   1   2   0   0
 210    2   5   7   4   4   0   0   0   0
 237    2   9  14   6   5   1   2   0   0
 254    2  10  14   5   5   1   2   0   0
 258    3  10  11   7   3   0   1   0   0
 301    2  11  12   7   0   0   1   0   0
 306    4   8  11   6   6   1   4   0   0
 334    2  14  12   4   3   2   2   0   0
 356    3   9   8  14   0   3   2   0   0
 364    1   9   6   9  10   2   2   0   0  )

In [253]:
table_13.Team = res_home.HomeTeam.all().values
table_13.HGS = res_home.FTHG.sum().values
table_13.HGC = res_home.FTAG.sum().values
table_13.AGS = res_away.FTAG.sum().values
table_13.AGC = res_away.FTHG.sum().values
table_13.head()

             Team  HGS  AGS  HAS  AAS  HGC  AGC  HDS  ADS
0         Arsenal   36   32  NaN  NaN   11   30  NaN  NaN
1     Aston Villa   22   17  NaN  NaN   29   32  NaN  NaN
2         Cardiff   20   12  NaN  NaN   35   39  NaN  NaN
3         Chelsea   43   28  NaN  NaN   11   16  NaN  NaN
4  Crystal Palace   18   15  NaN  NaN   23   25  NaN  NaN

In [254]:
table_13.HAS = (table_13.HGS / 19.0) / avg_home_scored_13
table_13.AAS = (table_13.AGS / 19.0) / avg_away_scored_13
table_13.HDS = (table_13.HGC / 19.0) / avg_home_conceded_13
table_13.ADS = (table_13.AGC / 19.0) / avg_away_conceded_13
table_13

              Team  HGS  AGS       HAS       AAS  HGC  AGC       HDS       ADS
0          Arsenal   36   32  1.204013  1.409692   11   30  0.484581  1.003344
1      Aston Villa   22   17  0.735786  0.748899   29   32  1.277533  1.070234
2          Cardiff   20   12  0.668896  0.528634   35   39  1.541850  1.304348
3          Chelsea   43   28  1.438127  1.233480   11   16  0.484581  0.535117
4   Crystal Palace   18   15  0.602007  0.660793   23   25  1.013216  0.836120
5          Everton   38   23  1.270903  1.013216   19   20  0.837004  0.668896
6           Fulham   24   16  0.802676  0.704846   38   47  1.674009  1.571906
7             Hull   20   18  0.668896  0.792952   21   32  0.925110  1.070234
8        Liverpool   53   48  1.772575  2.114537   18   32  0.792952  1.070234
9         Man City   63   39  2.107023  1.718062   13   24  0.572687  0.802676
10      Man United   29   35  0.969900  1.541850   21   22  0.925110  0.735786
11       Newcastle   23   20  0.769231  0.881057   28   31  1.233480  1.036789
12         Norwich   17   11  0.568562  0.484581   18   44  0.792952  1.471572
13     Southampton   32   22  1.070234  0.969163   23   23  1.013216  0.769231
14           Stoke   27   18  0.903010  0.792952   17   35  0.748899  1.170569
15      Sunderland   21   20  0.702341  0.881057   27   33  1.189427  1.103679
16         Swansea   33   21  1.103679  0.925110   26   28  1.145374  0.936455
17       Tottenham   30   25  1.003344  1.101322   23   28  1.013216  0.936455
18       West Brom   24   19  0.802676  0.837004   27   32  1.189427  1.070234
19        West Ham   25   15  0.836120  0.660793   26   25  1.145374  0.836120

In [255]:
def exp_goals(mean):
    max_pmf = 0;
    for i in xrange(7):
        pmf = scipy.distributions.poisson.pmf(i,mean) * 100 
        if pmf > max_pmf:
            max_pmf = pmf
            goals = i
    return goals

In [276]:
test_13 = res_13.ix[:,0:5]
test_13.head()
test_14.head()

     HomeTeam        AwayTeam  FTHG  FTAG FTR ER
0     Arsenal  Crystal Palace   2.0   1.0   H
1   Leicester         Everton   2.0   2.0   D
2  Man United         Swansea   1.0   2.0   A
3         QPR            Hull   0.0   1.0   A
4       Stoke     Aston Villa   0.0   1.0   A

In [272]:
table_13[table_13['Team'] == 'Arsenal']
test_13['ER'] = ''

In [275]:
results = []
for index, row in test_13.iterrows():
    home_team = table_13[table_13['Team'] == row['HomeTeam']]
    away_team = table_13[table_13['Team'] == row['AwayTeam']]
    #print "Home : ", home_team.HAS.values, "Away: ", away_team.AAS.values
    EH = home_team.HAS.values * away_team.ADS.values * avg_home_scored_13
    EA = home_team.HDS.values * away_team.AAS.values * avg_home_conceded_13
    print EH, EA
    if EH[0] > EA[0]:
        results.append('H')
    else:
        results.append('A')

[ 2.027812] [ 0.43357292]
[ 3.2652702] [ 0.75121725]
[ 0.59848618] [ 0.95988871]
[ 1.73737018] [ 1.001623]
[ 1.27794402] [ 2.1099003]
[ 0.97165992] [ 1.37723163]
[ 1.71624714] [ 0.72339439]
[ 2.42210878] [ 0.45907721]
[ 0.88716775] [ 1.33317876]
[ 3.43777504] [ 0.60282866]
[ 2.42210878] [ 0.43357292]
[ 1.23921845] [ 3.22745189]
[ 2.14046823] [ 0.83700441]
[ 1.2673825] [ 2.81938326]
[ 1.54902306] [ 0.53559008]
[ 1.01214575] [ 0.97380014]
[ 1.85882767] [ 1.06654301]
[ 1.1881711] [ 0.5912358]
[ 0.84492167] [ 3.16485045]
[ 1.47861292] [ 1.11987016]
[ 0.81675761] [ 1.36332019]
[ 0.70410139] [ 1.86645027]
[ 1.04559057] [ 1.06654301]
[ 3.54867101] [ 0.54254579]
[ 1.90283401] [ 1.03872015]
[ 0.68825911] [ 0.91815442]
[ 1.54022179] [ 1.08509158]
[ 1.7743355] [ 0.63760723]
[ 2.05245555] [ 1.46070021]
[ 1.18289034] [ 1.31463019]
[ 1.20049287] [ 1.34477162]
[ 1.07023411] [ 1.23348018]
[ 1.35187467] [ 1.67400881]
[ 1.37299771] [ 0.58428008]
[ 1.27618377] [ 0.7303501]
[ 1.14064425] [ 1.53721308]
[ 1.10895969] [ 2.003246]
[ 2.32353459] [ 0.58659866]
[ 1.40820278] [ 0.79990726]
[ 1.85882767] [ 2.89357756]
[ 3.55747228] [ 0.40806863]
[ 2.14574899] [ 0.91815442]
[ 1.29554656] [ 1.16856017]
[ 0.95757789] [ 0.70948296]
[ 1.39412075] [ 1.25202875]
[ 0.88012674] [ 1.38650591]
[ 2.21791938] [ 0.45907721]
[ 0.98574195] [ 2.02875029]
[ 0.88716775] [ 1.11987016]
[ 2.43971132] [ 1.05495015]
[ 0.92941384] [ 2.62230466]
[ 1.64759725] [ 1.05726872]
[ 0.88012674] [ 0.7303501]
[ 1.63351523] [ 0.92511013]
[ 1.40820278] [ 0.79990726]
[ 1.74265094] [ 1.9290517]
[ 0.84492167] [ 1.49316021]
[ 2.09118113] [ 0.43357292]
[ 1.18289034] [ 3.004869]
[ 2.0735786] [ 0.88105727]
[ 1.09135716] [ 1.62300023]
[ 1.47861292] [ 1.58590308]
[ 1.12656222] [ 0.82773012]
[ 2.33233586] [ 0.62601438]
[ 2.21791938] [ 0.69325296]
[ 0.81323711] [ 2.19105031]
[ 0.47878895] [ 1.16856017]
[ 1.57718711] [ 1.11987016]
[ 1.32019011] [ 0.79990726]
[ 1.2673825] [ 2.003246]
[ 2.78824151] [ 0.28054718]
[ 2.95194508] [ 0.30605147]
[ 2.14046823] [ 0.79295154]
[ 1.17408907] [ 1.07118015]
[ 1.29554656] [ 3.11616045]
[ 1.520859] [ 0.74889868]
[ 1.91691604] [ 1.20565732]
[ 1.05615209] [ 2.35103176]
[ 1.08431614] [ 1.68096453]
[ 1.48917444] [ 0.85323441]
[ 0.77451153] [ 1.54648736]
[ 0.95053688] [ 1.70646882]
[ 2.9853899] [ 0.79295154]
[ 1.78665728] [ 0.87642013]
[ 1.16704805] [ 0.5008115]
[ 2.64742123] [ 0.85323441]
[ 1.81658159] [ 0.99466728]
[ 1.14592501] [ 1.25202875]
[ 1.45220912] [ 0.90424299]
[ 1.68984334] [ 0.95988871]
[ 2.027812] [ 1.22420589]
[ 0.92941384] [ 3.08370044]
[ 1.16176729] [ 0.97380014]
[ 4.87942264] [ 0.33155576]
[ 0.64777328] [ 1.81776026]
[ 1.09311741] [ 0.86714584]
[ 1.05615209] [ 0.93902156]
[ 1.40820278] [ 1.02480872]
[ 0.98574195] [ 1.70415024]
[ 1.8729097] [ 1.10132159]
[ 1.51029748] [ 0.80686297]
[ 2.42210878] [ 0.4845815]
[ 0.63369125] [ 1.22652446]
[ 4.38479141] [ 0.66774867]
[ 0.74810773] [ 0.62601438]
[ 1.80249956] [ 0.95988871]
[ 1.53142052] [ 1.55808022]
[ 0.88716775] [ 2.44145606]
[ 2.03309277] [ 1.08509158]
[ 1.63703573] [ 1.06654301]
[ 1.45748988] [ 0.56109437]
[ 2.14046823] [ 2.11453744]
[ 1.18289034] [ 1.85022026]
[ 0.88012674] [ 0.7303501]
[ 1.78137652] [ 0.7141201]
[ 1.56838585] [ 0.7883144]
[ 0.70410139] [ 1.68792024]
[ 0.77451153] [ 2.84025041]
[ 3.10508713] [ 0.75353582]
[ 1.35187467] [ 1.06422444]
[ 1.27794402] [ 1.34477162]
[ 1.05615209] [ 2.59680037]
[ 2.34113712] [ 0.79295154]
[ 1.29554656] [ 1.23348018]
[ 0.74810773] [ 0.62601438]
[ 2.06829783] [ 0.96452585]
[ 1.74089069] [ 0.56109437]
[ 1.12656222] [ 2.33712033]
[ 3.10508713] [ 0.63297009]
[ 1.16176729] [ 1.86645027]
[ 0.79211406] [ 0.79990726]
[ 2.027812] [ 0.45907721]
[ 1.18289034] [ 2.20264317]
[ 4.10491111] [ 0.45907721]
[ 1.02094702] [ 1.11987016]
[ 1.80249956] [ 0.90656156]
[ 1.85354691] [ 0.47298864]
[ 0.59144517] [ 1.75284025]
[ 1.80073931] [ 1.20565732]
[ 1.013906] [ 2.44145606]
[ 1.23569794] [ 0.63992581]
[ 2.33233586] [ 0.62601438]
[ 1.58246788] [ 0.97380014]
[ 1.35187467] [ 2.07975887]
[ 0.7604295] [ 1.10364016]
[ 1.03502904] [ 1.56503594]
[ 1.85882767] [ 0.68861581]
[ 1.2673825] [ 0.58659866]
[ 1.35187467] [ 1.49779736]
[ 1.85882767] [ 1.08509158]
[ 1.12656222] [ 1.54185022]
[ 1.89227249] [ 0.38256434]
[ 3.14381271] [ 0.70484581]
[ 1.23217743] [ 0.87642013]
[ 3.32687907] [ 0.96452585]
[ 0.93117409] [ 1.4282402]
[ 1.45220912] [ 1.20565732]
[ 0.85196268] [ 2.35335034]
[ 0.83788065] [ 0.87642013]
[ 1.68984334] [ 2.55970322]
[ 0.98222144] [ 1.06654301]
[ 1.013906] [ 3.43612335]
[ 3.63844394] [ 0.5008115]
[ 1.27618377] [ 0.7303501]
[ 1.520859] [ 0.67006724]
[ 1.62647421] [ 0.68861581]
[ 1.35187467] [ 1.12682588]
[ 1.57718711] [ 1.33317876]
[ 1.16176729] [ 1.38650591]
[ 1.013906] [ 0.7141201]
[ 0.96813941] [ 1.00857872]
[ 0.8097166] [ 1.78530026]
[ 2.11934519] [ 0.53559008]
[ 2.20735786] [ 0.88105727]
[ 0.77451153] [ 1.70415024]
[ 3.54867101] [ 1.44678878]
[ 1.41700405] [ 1.16856017]
[ 1.40644253] [ 0.66774867]
[ 1.68984334] [ 1.01321586]
[ 1.32019011] [ 1.9290517]
[ 1.08431614] [ 1.4120102]
[ 1.16176729] [ 1.62300023]
[ 1.65463827] [ 0.77904011]
[ 2.77239923] [ 0.45212149]
[ 0.6583348] [ 1.46070021]
[ 1.40820278] [ 1.14537445]
[ 2.42210878] [ 1.22420589]
[ 1.53846154] [ 0.969163]
[ 1.2145749] [ 2.0774403]
[ 1.84826615] [ 0.95988871]
[ 2.47139588] [ 0.30605147]
[ 1.39412075] [ 0.58659866]
[ 1.05615209] [ 1.3215859]
[ 2.9853899] [ 0.75121725]
[ 1.42932582] [ 1.21725017]
[ 0.90124978] [ 1.49316021]
[ 0.95053688] [ 0.90656156]
[ 1.18289034] [ 1.06422444]
[ 1.39412075] [ 2.35103176]
[ 1.30962859] [ 1.25202875]
[ 0.88012674] [ 1.21725017]
[ 2.94314381] [ 0.4845815]
[ 1.39412075] [ 1.76211454]
[ 0.56328111] [ 1.36332019]
[ 1.42932582] [ 1.02249015]
[ 1.80249956] [ 1.01321586]
[ 1.32019011] [ 0.79990726]
[ 0.97165992] [ 2.53188036]
[ 1.520859] [ 1.89195456]
[ 1.16176729] [ 2.15163459]
[ 2.97834888] [ 0.40806863]
[ 1.10895969] [ 0.95988871]
[ 2.9853899] [ 0.70948296]
[ 4.32494279] [ 0.36169719]
[ 0.95757789] [ 0.75121725]
[ 0.85020243] [ 1.37723163]
[ 1.36419644] [ 1.20565732]
[ 1.66519979] [ 0.89265013]
[ 1.62647421] [ 1.50707164]
[ 0.84492167] [ 1.43983306]
[ 1.013906] [ 0.95988871]
[ 1.86586869] [ 0.95988871]
[ 1.99084668] [ 0.58428008]
[ 0.92765358] [ 0.83468583]
[ 1.68984334] [ 1.70646882]
[ 2.73015314] [ 0.96452585]
[ 1.23921845] [ 1.27753304]
[ 1.89227249] [ 0.38256434]
[ 1.29378631] [ 1.12682588]
[ 1.2673825] [ 2.07975887]
[ 1.54902306] [ 0.89265013]
[ 2.14046823] [ 0.74889868]
[ 0.97165992] [ 1.93832599]
[ 0.98574195] [ 1.21725017]
[ 1.33603239] [ 1.29840019]
[ 1.04559057] [ 1.3795502]
[ 1.23217743] [ 1.26594018]
[ 1.58422813] [ 0.38256434]
[ 1.35187467] [ 3.004869]
[ 1.7743355] [ 0.84396012]
[ 0.96813941] [ 1.00857872]
[ 2.34641788] [ 0.51008579]
[ 1.013906] [ 1.01321586]
[ 2.79880303] [ 1.33549733]
[ 0.71818342] [ 1.62763738]
[ 1.97148389] [ 0.95988871]
[ 1.18289034] [ 1.12682588]
[ 2.26544622] [ 0.72339439]
[ 2.39922549] [ 0.77904011]
[ 1.05615209] [ 1.22652446]
[ 1.12656222] [ 1.3795502]
[ 0.8097166] [ 1.07118015]
[ 0.67593733] [ 1.75284025]
[ 1.93627882] [ 0.66311152]
[ 1.39412075] [ 0.89265013]
[ 1.35187467] [ 4.22907489]
[ 1.13360324] [ 1.62300023]
[ 1.33075163] [ 0.82773012]
[ 2.09118113] [ 0.51008579]
[ 1.12656222] [ 1.46070021]
[ 1.51381799] [ 0.58659866]
[ 0.69706038] [ 1.86645027]
[ 3.88135892] [ 0.54254579]
[ 1.98556592] [ 1.001623]
[ 1.01214575] [ 1.32622305]
[ 2.61221616] [ 0.87642013]
[ 1.29554656] [ 1.10364016]
[ 0.83788065] [ 1.04335729]
[ 1.6722408] [ 0.66079295]
[ 0.67593733] [ 2.46696035]
[ 1.09135716] [ 0.97380014]
[ 1.80249956] [ 2.55970322]
[ 1.42580532] [ 1.26130304]
[ 1.70392537] [ 0.73962439]
[ 1.45220912] [ 0.90424299]
[ 2.05949657] [ 0.63992581]
[ 1.65463827] [ 1.29840019]
[ 2.11934519] [ 0.63760723]
[ 0.72874494] [ 1.17319731]
[ 1.04735082] [ 0.75121725]
[ 0.92941384] [ 2.19105031]
[ 0.61960922] [ 1.88268027]
[ 2.60869565] [ 0.52863436]
[ 1.30962859] [ 1.76211454]
[ 0.84492167] [ 1.89891027]
[ 2.47843689] [ 0.58659866]
[ 1.1881711] [ 0.5912358]
[ 0.92413308] [ 0.93902156]
[ 1.85882767] [ 1.14537445]
[ 1.63351523] [ 2.33712033]
[ 1.58422813] [ 1.70646882]
[ 1.12656222] [ 3.89520056]
[ 2.27072698] [ 0.81613726]
[ 1.8729097] [ 0.92511013]
[ 1.12656222] [ 0.92511013]
[ 5.21211054] [ 0.48226293]
[ 1.01214575] [ 0.97380014]
[ 0.9875022] [ 0.83468583]
[ 0.96813941] [ 2.1099003]
[ 1.35539518] [ 1.21029446]
[ 1.2145749] [ 1.17319731]
[ 1.7743355] [ 0.53559008]
[ 1.22513642] [ 1.89891027]
[ 0.8097166] [ 1.49316021]
[ 3.07868333] [ 0.83468583]
[ 1.40820278] [ 1.08509158]
[ 1.520859] [ 0.99466728]
[ 0.506953] [ 1.49316021]
[ 1.63351523] [ 0.82773012]
[ 1.74617145] [ 1.06654301]
[ 1.520859] [ 0.70948296]
[ 2.55588805] [ 0.66311152]
[ 1.64759725] [ 0.75121725]
[ 0.84492167] [ 2.02643172]
[ 2.61221616] [ 1.04335729]
[ 0.92413308] [ 0.93902156]
[ 1.82010209] [ 1.0758173]
[ 0.88012674] [ 1.21725017]
[ 2.64918148] [ 0.45907721]
[ 0.98574195] [ 1.02249015]
[ 2.55060729] [ 0.66311152]
[ 0.89068826] [ 2.27220032]
[ 0.95757789] [ 0.79295154]
[ 2.00668896] [ 1.40969163]
[ 1.40820278] [ 2.89357756]
[ 1.74265094] [ 1.06654301]
[ 1.013906] [ 0.90656156]
[ 1.85882767] [ 0.969163]
[ 2.19679634] [ 0.63992581]
[ 1.47333216] [ 0.7883144]
[ 0.73930646] [ 1.43983306]
[ 1.18289034] [ 1.56503594]
[ 2.23904242] [ 1.62763738]
[ 0.92941384] [ 1.68792024]
[ 1.58422813] [ 0.38256434]
[ 1.6722408] [ 0.66079295]
[ 3.65956698] [ 0.60282866]
[ 0.89068826] [ 1.47924878]
[ 1.23217743] [ 1.46070021]
[ 2.49779968] [ 0.51008579]
[ 1.13360324] [ 1.36332019]
[ 2.4819574] [ 0.85323441]
[ 1.10015842] [ 0.90424299]
[ 1.47157191] [ 1.54185022]
[ 1.05615209] [ 1.55808022]
[ 0.95757789] [ 2.003246]
[ 3.54867101] [ 0.57268722]
[ 1.35187467] [ 1.58590308]
[ 2.24608344] [ 0.53559008]
[ 1.12656222] [ 1.22652446]
[ 1.33075163] [ 0.985393]
[ 1.85882767] [ 1.02480872]
[ 1.05615209] [ 0.93902156]
[ 0.7604295] [ 2.07975887]
[ 1.49269495] [ 1.16856017]
[ 1.4416476] [ 0.75121725]
[ 1.96444288] [ 0.51008579]
[ 1.23921845] [ 1.21029446]
[ 1.60535117] [ 1.71806167]
[ 1.68456258] [ 0.97380014]
[ 1.57894737] [ 0.77904011]
[ 2.23376166] [ 0.63065152]
[ 1.33603239] [ 1.32622305]
[ 1.23217743] [ 1.50707164]
[ 2.027812] [ 0.4845815]
[ 3.33039958] [ 0.28054718]
[ 1.013906] [ 2.55970322]
[ 1.63351523] [ 0.87642013]
[ 3.54867101] [ 0.51240436]
[ 1.18289034] [ 1.18942731]
[ 0.56328111] [ 2.27220032]
[ 1.05615209] [ 1.3215859]
[ 0.70410139] [ 1.11987016]
[ 2.89209646] [ 0.83468583]
[ 2.77239923] [ 0.45212149]
[ 0.89772927] [ 1.33549733]
[ 1.23921845] [ 1.86645027]
[ 1.03502904] [ 1.31463019]
[ 1.68984334] [ 0.90656156]
[ 1.47861292] [ 1.12682588]

In [259]:
test_13['ER'] = results

In [260]:
from sklearn.metrics import accuracy_score

In [261]:
accuracy_score(test_13['FTR'],test_13['ER'])

0.60789473684210527